[[#is_java]]
    {{ >atoms/meta_JS/_head-JS }}
[[/is_java]]

[[>organisms/global_JS/navigation_top_metis-JS ]]

[[#user_profile]]
  <div class="metis-main-content">
    {{> molecules/pandora_JS/user-profile-JS }}
  </div>
[[/user_profile]]

[[#metis_footer]]
    {{> organisms/global_JS/footer_v2-JS }}
[[/metis_footer]]

[[#is_java]]
    {{>atoms/meta_JS/_foot-JS}}
[[/is_java]]
